@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

@font-face {
    font-family: Bebas;
    src: url("bebas.ttf");
}
.console {
	background-color: white;
	color: red;
	font-weight: bold;
}

.menu {
	top: 20%;
	right: 15%;
	position: fixed;
	font-family: arial;
	color: #6F6F6F;
	width: 202px;
	height: 458px;
	text-align: center;
}

.menu_description {
	position: absolute;
	top: 20%;
	right: 10%;
	margin-top: 11px;
	margin-left: 11px;
}

.menu_description text01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	background: rgba(0,0,0,0.7);
	width: 80px;
	padding: 7px 12px;
	font-weight: 700;
	float: left;
	margin-bottom: 2px;
}

.menu_description text02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	background: rgba(255,255,255,0.7);
	width: 70px;
	padding: 7px 12px;
	float: left;
	margin-bottom: 2px;
}

.menu h1 {
	background: rgba(10,10,10,0.95);
	text-transform: uppercase;
	color: white;
	height: 50px;
	line-height: 50px;
	letter-spacing: 3px;
	font-size: 24px;
	color: #fff;
	font-family: Bebas !important;
	font-weight: 300;
	margin-bottom: 10px;
	border-radius: 3px;
	text-shadow: 1px 1px #000;
}

.choices {
	overflow-y: scroll;
	overflow-x: hidden;
}

.choices::-webkit-scrollbar { 
	display: none;
}

.choices > div {
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.8);
	line-height: 40px;
	height: 40px;
	border: 0;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 3px;
	letter-spacing: 1px;
	text-shadow: 1px 1px #000;
	border-bottom: 1px solid rgba(5,5,5,0.9);
	font-size: 12px;
}

.choices .selected {
	background: #a8244e;
	border-bottom: 1px solid rgba(5,5,5,0.9);
}

.wprompt {
	font-family: 'Arial';
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	width: 450px;
	height: 135px;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	-webkit-border-radius: 5px;
}

.wprompt h1 {
	font-size: 14px;
	font-weight: 600;
	padding: 7px 0 12px 5px;
	letter-spacing: 1px;
}

.wprompt textarea {
	outline: none !important;
	background-color: rgba(0,0,0,0.5);
	border: none;
	flex: 1;
	color: #ccc;
	font-size: 15px;
	width: 100%;
	padding: 10px;
	resize: none;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	overflow: hidden;
	letter-spacing: 1px;
}

.wprompt textarea:focus {
	outline: none !important;
}

.wprompt .help {
	font-size: 12px;
	padding: 12px 0 7px 5px;
	letter-spacing: 1px;
}

.request_manager {
	width: fit-content;
	display: flex;
	position: absolute;
	bottom: -70px !important;
	left: 50% !important;
	transform: translate(-50%,-50%) !important;
	font-family: Arial;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-align: right;
	max-width: 520px;
	letter-spacing: 1px;
}

.request_manager div {
	width: fit-content;
	margin-top: 50px;
	text-align: right;
	
}

.request_manager b {
	color: #fff;
}

.request_manager .content {
	display: grid;
	grid-template-columns: repeat(3,auto);
	grid-template-rows: repeat(2,auto);
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	border-bottom: 3px solid #13c52b;
	margin: 15px;
	padding: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.request_manager div > span {
	width: fit-content;
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: left;
	margin: 15px;
}

.request_manager .footer {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(3,auto);
	column-gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 15px 15px 0 15px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	letter-spacing: 1px;
}

.request_manager .yes {
	width: 70px;
	background: #769D00;
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	font-weight: 700;
}

.request_manager .no {
	width: 70px;
	background: #AA0000;
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	font-weight: 700;
}

.request_manager .time {
	width: 70px;
	right: 5%;
	width: fit-content;
	padding: 5px 7px;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	font-weight: 700;
	float: right;
}